<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tf.jk.mapper.ContractCMapper" >
  <resultMap id="BaseResultMap" type="cn.tf.jk.po.ContractC" >
    <id column="CONTRACT_ID" property="contractId" jdbcType="VARCHAR" />
    
    <!-- 虚拟字段 -->
     <result column="CPNUM" property="cpnum" jdbcType="VARCHAR" />
    <result column="EXTNUM" property="extnum" jdbcType="VARCHAR" />
    
    
    <result column="OFFEROR" property="offeror" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="SIGNING_DATE" property="signingDate" jdbcType="TIMESTAMP" />
    <result column="INPUT_BY" property="inputBy" jdbcType="VARCHAR" />
    <result column="CHECK_BY" property="checkBy" jdbcType="VARCHAR" />
    <result column="INSPECTOR" property="inspector" jdbcType="VARCHAR" />
    <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
    <result column="IMPORT_NUM" property="importNum" jdbcType="DECIMAL" />
    <result column="CREQUEST" property="crequest" jdbcType="VARCHAR" />
    <result column="CUSTOM_NAME" property="customName" jdbcType="VARCHAR" />
    <result column="DELIVERY_PERIOD" property="deliveryPeriod" jdbcType="TIMESTAMP" />
    <result column="SHIP_TIME" property="shipTime" jdbcType="TIMESTAMP" />
    <result column="TRADE_TERMS" property="tradeTerms" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PRINT_STYLE" property="printStyle" jdbcType="CHAR" />
    <result column="OLD_STATE" property="oldState" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="OUT_STATE" property="outState" jdbcType="DECIMAL" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DEPT" property="createDept" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
    
  <sql id="Base_Column_List" >
    CONTRACT_ID, OFFEROR, CONTRACT_NO, SIGNING_DATE, INPUT_BY, CHECK_BY, INSPECTOR, TOTAL_AMOUNT, 
    IMPORT_NUM, CREQUEST, CUSTOM_NAME, DELIVERY_PERIOD, SHIP_TIME, TRADE_TERMS, REMARK, 
    PRINT_STYLE, OLD_STATE, STATE, OUT_STATE, CREATE_BY, CREATE_DEPT, CREATE_TIME
  </sql>
  
  <resultMap type="cn.tf.jk.vo.ContractVO" id="contractVORM"  extends="BaseResultMap">
  	 <!-- 合同下的多个货物,一对多的关系 -->
		  <collection  property="contractProductCs"  ofType="cn.tf.jk.vo.ContractProductVO" >
		  		<id column="CONTRACT_PRODUCT_ID" property="contractProductId" jdbcType="VARCHAR" />
			    <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
			    <result column="PRODUCT_IMAGE" property="productImage" jdbcType="VARCHAR" />
			    <result column="PRODUCT_DESC" property="productDesc" jdbcType="VARCHAR" />
			    <result column="CNUMBER" property="cnumber" jdbcType="DECIMAL" />
			    <result column="OUT_NUMBER" property="outNumber" jdbcType="DECIMAL" />
			    <result column="LOADING_RATE" property="loadingRate" jdbcType="VARCHAR" />
			    <result column="BOX_NUM" property="boxNum" jdbcType="DECIMAL" />
			    <result column="PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
			    <result column="PRICE" property="price" jdbcType="DECIMAL" />
			    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
			    <result column="FINISHED" property="finished" jdbcType="DECIMAL" />
			    <result column="EXTS" property="exts" jdbcType="VARCHAR" />
			    <result column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
		 		
		 		
		 		<!-- 货物和生产厂家 -->
		 		<association property="factoryC"  javaType="cn.tf.jk.po.FactoryC">
		 				<id column="FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
					    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
					    <result column="FACTORY_NAME" property="factoryName" jdbcType="VARCHAR" />
					    <result column="CONTACTS" property="contacts" jdbcType="VARCHAR" />
					    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
		 		</association>
		 		
		 		
		 		
		 		<!-- 货物和附件（一对多） -->
		 		<collection property="extCproductCs"  ofType="cn.tf.jk.vo.ExtCproductVO">
		 				<id column="EXT_CPRODUCT_ID" property="extCproductId" jdbcType="VARCHAR" />
					    <result column="EXT_CTYPE" property="ctype" jdbcType="DECIMAL" />
					    <result column="EXT_PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
					    <result column="EXT_PRODUCT_IMAGE" property="productImage" jdbcType="VARCHAR" />
					    <result column="EXT_PRODUCT_DESC" property="productDesc" jdbcType="VARCHAR" />
					    <result column="EXT_CNUMBER" property="cnumber" jdbcType="DECIMAL" />
					    <result column="EXT_PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
					    <result column="EXT_PRICE" property="price" jdbcType="DECIMAL" />
					    <result column="EXT_AMOUNT" property="amount" jdbcType="DECIMAL" />
					    <result column="PRODUCT_REQUEST" property="productRequest" jdbcType="VARCHAR" />
					    <result column="EXT_ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
		 		
		 				<!-- 附件和生产厂家 -->
				 		<association property="factoryC"  javaType="cn.tf.jk.po.FactoryC">
				 				<id column="EXT_FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
							    <result column="EXT_FULL_NAME" property="fullName" jdbcType="VARCHAR" />
							    <result column="EXT_FACTORY_NAME" property="factoryName" jdbcType="VARCHAR" />
							    <result column="EXT_CONTACTS" property="contacts" jdbcType="VARCHAR" />
							    <result column="EXT_PHONE" property="phone" jdbcType="VARCHAR" />
				 		</association>
		 		</collection>
		  </collection>
  </resultMap>
  
  

  
  
  <select id="find"  parameterType="map"  resultMap="BaseResultMap">
  		select
  (select count(*) from contract_product_c
Where  contract_id=c.contract_id)  as cpnum,
  (select count(*) from ext_cproduct_c
Where contract_product_id in (select contract_product_id from contract_product_c where contract_id=c.contract_id)
      ) as extnum,
  ( 
nvl((select sum(cnumber*price) as cptotal from contract_product_c
where contract_id =c.contract_id),0)
      +
nvl(
      (select sum(cnumber*price) as exttotal from ext_cproduct_c
Where  contract_product_id in (select contract_product_id from contract_product_c where  contract_id=c.contract_id))
,0)
  ) as total_amount,
c.CONTRACT_ID,c.OFFEROR,c.CONTRACT_NO,c.SIGNING_DATE,c.INPUT_BY,c.CHECK_BY,c.INSPECTOR,c.IMPORT_NUM,c.CREQUEST,c.CUSTOM_NAME,c.DELIVERY_PERIOD,c.SHIP_TIME,c.TRADE_TERMS,c.REMARK,c.PRINT_STYLE,c.OLD_STATE,c.STATE,c.OUT_STATE


from  contract_c c


  </select>
  
  <select id="get"  parameterType="string"  resultMap="BaseResultMap">
  		select * from CONTRACT_C
  		 where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="view"  parameterType="string"  resultMap="contractVORM">
  
  	select
      c.contract_id,c.offeror,c.contract_no,c.signing_date,c.input_by,c.check_by,c.inspector,c.total_amount,c.import_num,c.crequest,c.custom_name,c.delivery_period,c.ship_time,c.trade_terms,c.remark,c.print_style,c.old_state,c.state,c.out_state,c.create_by,c.create_dept,c.create_time,

t.contract_product_id,
        t.product_no,t.product_image,t.product_desc,t.cnumber,t.out_number,t.loading_rate,t.box_num,t.packing_unit,t.price,t.amount,t.finished,t.exts,t.order_no,
t.factory_id,t.full_name,t.factory_name,t.contacts,t.phone,

t.ext_cproduct_id,
        t.ctype,t.ext_product_no,t.ext_product_image,t.ext_product_desc,t.ext_cnumber,t.ext_packing_unit,t.ext_price,t.ext_amount,t.product_request,
t.ext_order_no,
        t.ext_factory_id,t.ext_full_name,t.ext_factory_name,t.ext_contacts,t.ext_phone

from
(
select
          contract_id,offeror,contract_no,signing_date,input_by,check_by,inspector,total_amount,import_num,crequest,custom_name,delivery_period,ship_time,trade_terms,remark,print_style,old_state,state,out_state,create_by,create_dept,create_time
from contract_c
) c
left join
(
select
cp.contract_product_id,cp.contract_id,
              cp.product_no,cp.product_image,cp.product_desc,cp.cnumber,cp.out_number,cp.loading_rate,cp.box_num,cp.packing_unit,cp.price,cp.amount,cp.finished,cp.exts,cp.order_no,
              cp.factory_id,cp.full_name,cp.factory_name,cp.contacts,cp.phone,

ext.ext_cproduct_id,
ext.ctype,ext.product_no as ext_product_no,ext.product_image as ext_product_image,ext.product_desc as ext_product_desc,
ext.cnumber as ext_cnumber,ext.packing_unit as ext_packing_unit,ext.price as ext_price,ext.amount as ext_amount,
ext.product_request,ext.order_no as ext_order_no,
ext.factory_id as ext_factory_id,ext.full_name as ext_full_name,ext.factory_name as ext_factory_name,ext.contacts as ext_contacts,ext.phone as ext_phone

from
        (
select
cp.contract_product_id,cp.contract_id,
              cp.product_no,cp.product_image,cp.product_desc,cp.cnumber,cp.out_number,cp.loading_rate,cp.box_num,cp.packing_unit,cp.price,cp.amount,cp.finished,cp.exts,cp.order_no,
f.factory_id,f.full_name,f.factory_name,f.contacts,f.phone
from
            (select
contract_product_id,contract_id,factory_id,
            product_no,product_image,product_desc,cnumber,out_number,loading_rate,box_num,packing_unit,price,amount,finished,exts,order_no
from contract_product_c) cp
left join 
            (select  factory_id,full_name,factory_name,contacts,phone from factory_c) f
on  cp.factory_id=f.factory_id
        ) cp
left join
        (
select
ext.ext_cproduct_id,ext.contract_product_id,
              ext.ctype,ext.product_no,ext.product_image,ext.product_desc,ext.cnumber,ext.packing_unit,ext.price,ext.amount,ext.product_request,ext.order_no,
f.factory_id,f.full_name,f.factory_name,f.contacts,f.phone
from
            (
select
ext_cproduct_id,contract_product_id,factory_id,
ctype,product_no,product_image,product_desc,cnumber,packing_unit,price,amount,product_request,order_no
from ext_cproduct_c
            ) ext
left join 
            (select factory_id,full_name,factory_name,contacts,phone from factory_c) f
on ext.factory_id=f.factory_id
        ) ext
on cp.contract_product_id=ext.contract_product_id
) t
on c.contract_id=t.contract_id

where c.contract_id=#{contractId}
  
  
  </select>
  
  
  
<!-- 删除一条 -->
   <delete id="deleteById" parameterType="java.lang.String" >
    delete from CONTRACT_C
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </delete>
  <!-- 删除多条 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from CONTRACT_C
    where CONTRACT_ID  in 
    
    <foreach collection="array"  item="contractId"  open="("  close=")"  separator=",">
    	 #{contractId,jdbcType=VARCHAR}
    </foreach>  
  </delete>
  
   <!-- 修改状态 -->
  <update id="updateState"   parameterType="map">
  		update CONTRACT_C  set state=#{state}
  		 where CONTRACT_ID in
  		 <foreach collection="ids"  item="contractId"  open="("  close=")"  separator=",">
    	 #{contractId,jdbcType=VARCHAR}
    </foreach>  
  </update>
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CONTRACT_C
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CONTRACT_C
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.tf.jk.po.ContractC" >
    insert into CONTRACT_C (CONTRACT_ID, OFFEROR, CONTRACT_NO, 
      SIGNING_DATE, INPUT_BY, CHECK_BY, 
      INSPECTOR, TOTAL_AMOUNT, IMPORT_NUM, 
      CREQUEST, CUSTOM_NAME, DELIVERY_PERIOD, 
      SHIP_TIME, TRADE_TERMS, REMARK, 
      PRINT_STYLE, OLD_STATE, STATE, 
      OUT_STATE, CREATE_BY, CREATE_DEPT, 
      CREATE_TIME)
    values (#{contractId,jdbcType=VARCHAR}, #{offeror,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{signingDate,jdbcType=TIMESTAMP}, #{inputBy,jdbcType=VARCHAR}, #{checkBy,jdbcType=VARCHAR}, 
      #{inspector,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{importNum,jdbcType=DECIMAL}, 
      #{crequest,jdbcType=VARCHAR}, #{customName,jdbcType=VARCHAR}, #{deliveryPeriod,jdbcType=TIMESTAMP}, 
      #{shipTime,jdbcType=TIMESTAMP}, #{tradeTerms,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{printStyle,jdbcType=CHAR}, #{oldState,jdbcType=DECIMAL}, 0, 
      #{outState,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, #{createDept,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.tf.jk.po.ContractC" >
    insert into CONTRACT_C
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        CONTRACT_ID,
      </if>
      <if test="offeror != null" >
        OFFEROR,
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO,
      </if>
      <if test="signingDate != null" >
        SIGNING_DATE,
      </if>
      <if test="inputBy != null" >
        INPUT_BY,
      </if>
      <if test="checkBy != null" >
        CHECK_BY,
      </if>
      <if test="inspector != null" >
        INSPECTOR,
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT,
      </if>
      <if test="importNum != null" >
        IMPORT_NUM,
      </if>
      <if test="crequest != null" >
        CREQUEST,
      </if>
      <if test="customName != null" >
        CUSTOM_NAME,
      </if>
      <if test="deliveryPeriod != null" >
        DELIVERY_PERIOD,
      </if>
      <if test="shipTime != null" >
        SHIP_TIME,
      </if>
      <if test="tradeTerms != null" >
        TRADE_TERMS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="printStyle != null" >
        PRINT_STYLE,
      </if>
      <if test="oldState != null" >
        OLD_STATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="outState != null" >
        OUT_STATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDept != null" >
        CREATE_DEPT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="offeror != null" >
        #{offeror,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="signingDate != null" >
        #{signingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inputBy != null" >
        #{inputBy,jdbcType=VARCHAR},
      </if>
      <if test="checkBy != null" >
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null" >
        #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="importNum != null" >
        #{importNum,jdbcType=DECIMAL},
      </if>
      <if test="crequest != null" >
        #{crequest,jdbcType=VARCHAR},
      </if>
      <if test="customName != null" >
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPeriod != null" >
        #{deliveryPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="shipTime != null" >
        #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeTerms != null" >
        #{tradeTerms,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="printStyle != null" >
        #{printStyle,jdbcType=CHAR},
      </if>
      <if test="oldState != null" >
        #{oldState,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="outState != null" >
        #{outState,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.tf.jk.po.ContractC" >
    update CONTRACT_C
    <set >
      <if test="offeror != null" >
        OFFEROR = #{offeror,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="signingDate != null" >
        SIGNING_DATE = #{signingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inputBy != null" >
        INPUT_BY = #{inputBy,jdbcType=VARCHAR},
      </if>
      <if test="checkBy != null" >
        CHECK_BY = #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null" >
        INSPECTOR = #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="importNum != null" >
        IMPORT_NUM = #{importNum,jdbcType=DECIMAL},
      </if>
      <if test="crequest != null" >
        CREQUEST = #{crequest,jdbcType=VARCHAR},
      </if>
      <if test="customName != null" >
        CUSTOM_NAME = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPeriod != null" >
        DELIVERY_PERIOD = #{deliveryPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="shipTime != null" >
        SHIP_TIME = #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeTerms != null" >
        TRADE_TERMS = #{tradeTerms,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="printStyle != null" >
        PRINT_STYLE = #{printStyle,jdbcType=CHAR},
      </if>
      <if test="oldState != null" >
        OLD_STATE = #{oldState,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="outState != null" >
        OUT_STATE = #{outState,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tf.jk.po.ContractC" >
    update CONTRACT_C
    set OFFEROR = #{offeror,jdbcType=VARCHAR},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      SIGNING_DATE = #{signingDate,jdbcType=TIMESTAMP},
      INPUT_BY = #{inputBy,jdbcType=VARCHAR},
      CHECK_BY = #{checkBy,jdbcType=VARCHAR},
      INSPECTOR = #{inspector,jdbcType=VARCHAR},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      IMPORT_NUM = #{importNum,jdbcType=DECIMAL},
      CREQUEST = #{crequest,jdbcType=VARCHAR},
      CUSTOM_NAME = #{customName,jdbcType=VARCHAR},
      DELIVERY_PERIOD = #{deliveryPeriod,jdbcType=TIMESTAMP},
      SHIP_TIME = #{shipTime,jdbcType=TIMESTAMP},
      TRADE_TERMS = #{tradeTerms,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PRINT_STYLE = #{printStyle,jdbcType=CHAR},
      OLD_STATE = #{oldState,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      OUT_STATE = #{outState,jdbcType=DECIMAL},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </update>
</mapper>