<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tf.jk.mapper.ContractProductCMapper" >
  <resultMap id="BaseResultMap" type="cn.tf.jk.po.ContractProductC" >
    <id column="CONTRACT_PRODUCT_ID" property="contractProductId" jdbcType="VARCHAR" />
    <result column="CONTRACT_ID" property="contractId" jdbcType="VARCHAR" />
    <result column="FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
    <result column="FACTORY_NAME" property="factoryName" jdbcType="VARCHAR" />
    <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
    <result column="PRODUCT_IMAGE" property="productImage" jdbcType="VARCHAR" />
    <result column="PRODUCT_DESC" property="productDesc" jdbcType="VARCHAR" />
    <result column="CNUMBER" property="cnumber" jdbcType="DECIMAL" />
    <result column="OUT_NUMBER" property="outNumber" jdbcType="DECIMAL" />
    <result column="LOADING_RATE" property="loadingRate" jdbcType="VARCHAR" />
    <result column="BOX_NUM" property="boxNum" jdbcType="DECIMAL" />
    <result column="PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="FINISHED" property="finished" jdbcType="DECIMAL" />
    <result column="EXTS" property="exts" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONTRACT_PRODUCT_ID, CONTRACT_ID, FACTORY_ID, FACTORY_NAME, PRODUCT_NO, PRODUCT_IMAGE, 
    PRODUCT_DESC, CNUMBER, OUT_NUMBER, LOADING_RATE, BOX_NUM, PACKING_UNIT, PRICE, AMOUNT, 
    FINISHED, EXTS, ORDER_NO
  </sql>
  
  <!-- 查询某个合同下的货物信息 -->
  <select id="find"   resultMap="BaseResultMap" >
  		 select   
  		 <include refid="Base_Column_List" />
    from CONTRACT_PRODUCT_C
  where 1=1
  <if test="contractId!=null">and CONTRACT_ID=#{contractId}</if>
  
  </select>
  
  <select id="get"  parameterType="string"  resultMap="BaseResultMap">
  		select * from CONTRACT_PRODUCT_C
  		 where CONTRACT_PRODUCT_ID =  #{contractProductId,jdbcType=VARCHAR}
  </select>
  
  
  <!-- 删除一条 -->
   <delete id="deleteById" parameterType="java.lang.String" >
    delete from CONTRACT_PRODUCT_C
    where CONTRACT_PRODUCT_ID =  #{contractProductId,jdbcType=VARCHAR}
  </delete>
  <!-- 删除多条 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from CONTRACT_PRODUCT_C
    where  CONTRACT_PRODUCT_ID   in 
    
    <foreach collection="array"  item="contractProductId"  open="("  close=")"  separator=",">
    	 #{contractProductId,jdbcType=VARCHAR}
    </foreach>  
  </delete>
  

  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
  
    from CONTRACT_PRODUCT_C
    where CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CONTRACT_PRODUCT_C
    where CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.tf.jk.po.ContractProductC" >
    insert into CONTRACT_PRODUCT_C (CONTRACT_PRODUCT_ID, CONTRACT_ID, FACTORY_ID, 
      FACTORY_NAME, PRODUCT_NO, PRODUCT_IMAGE, 
      PRODUCT_DESC, CNUMBER, OUT_NUMBER, 
      LOADING_RATE, BOX_NUM, PACKING_UNIT, 
      PRICE, AMOUNT, FINISHED, 
      EXTS, ORDER_NO)
    values (#{contractProductId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, #{factoryId,jdbcType=VARCHAR}, 
      #{factoryName,jdbcType=VARCHAR}, #{productNo,jdbcType=VARCHAR}, #{productImage,jdbcType=VARCHAR}, 
      #{productDesc,jdbcType=VARCHAR}, #{cnumber,jdbcType=DECIMAL}, #{outNumber,jdbcType=DECIMAL}, 
      #{loadingRate,jdbcType=VARCHAR}, #{boxNum,jdbcType=DECIMAL}, #{packingUnit,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{finished,jdbcType=DECIMAL}, 
      #{exts,jdbcType=VARCHAR}, #{orderNo,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.tf.jk.po.ContractProductC" >
    insert into CONTRACT_PRODUCT_C
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractProductId != null" >
        CONTRACT_PRODUCT_ID,
      </if>
      <if test="contractId != null" >
        CONTRACT_ID,
      </if>
      <if test="factoryId != null" >
        FACTORY_ID,
      </if>
      <if test="factoryName != null" >
        FACTORY_NAME,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE,
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC,
      </if>
      <if test="cnumber != null" >
        CNUMBER,
      </if>
      <if test="outNumber != null" >
        OUT_NUMBER,
      </if>
      <if test="loadingRate != null" >
        LOADING_RATE,
      </if>
      <if test="boxNum != null" >
        BOX_NUM,
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="finished != null" >
        FINISHED,
      </if>
      <if test="exts != null" >
        EXTS,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractProductId != null" >
        #{contractProductId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=DECIMAL},
      </if>
      <if test="outNumber != null" >
        #{outNumber,jdbcType=DECIMAL},
      </if>
      <if test="loadingRate != null" >
        #{loadingRate,jdbcType=VARCHAR},
      </if>
      <if test="boxNum != null" >
        #{boxNum,jdbcType=DECIMAL},
      </if>
      <if test="packingUnit != null" >
        #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="finished != null" >
        #{finished,jdbcType=DECIMAL},
      </if>
      <if test="exts != null" >
        #{exts,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.tf.jk.po.ContractProductC" >
    update CONTRACT_PRODUCT_C
    <set >
      <if test="contractId != null" >
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        FACTORY_NAME = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="cnumber != null" >
        CNUMBER = #{cnumber,jdbcType=DECIMAL},
      </if>
      <if test="outNumber != null" >
        OUT_NUMBER = #{outNumber,jdbcType=DECIMAL},
      </if>
      <if test="loadingRate != null" >
        LOADING_RATE = #{loadingRate,jdbcType=VARCHAR},
      </if>
      <if test="boxNum != null" >
        BOX_NUM = #{boxNum,jdbcType=DECIMAL},
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="finished != null" >
        FINISHED = #{finished,jdbcType=DECIMAL},
      </if>
      <if test="exts != null" >
        EXTS = #{exts,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
    </set>
    where CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tf.jk.po.ContractProductC" >
    update CONTRACT_PRODUCT_C
    set CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      FACTORY_NAME = #{factoryName,jdbcType=VARCHAR},
      PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      CNUMBER = #{cnumber,jdbcType=DECIMAL},
      OUT_NUMBER = #{outNumber,jdbcType=DECIMAL},
      LOADING_RATE = #{loadingRate,jdbcType=VARCHAR},
      BOX_NUM = #{boxNum,jdbcType=DECIMAL},
      PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      FINISHED = #{finished,jdbcType=DECIMAL},
      EXTS = #{exts,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL}
    where CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR}
  </update>
</mapper>