<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tf.jk.mapper.ExtCproductCMapper" >
  <resultMap id="BaseResultMap" type="cn.tf.jk.po.ExtCproductC" >
    <id column="EXT_CPRODUCT_ID" property="extCproductId" jdbcType="VARCHAR" />
    <result column="CONTRACT_PRODUCT_ID" property="contractProductId" jdbcType="VARCHAR" />
    <result column="FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
    <result column="FACTORY_NAME" property="factoryName" jdbcType="VARCHAR" />
    <result column="CTYPE" property="ctype" jdbcType="DECIMAL" />
    <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
    <result column="PRODUCT_IMAGE" property="productImage" jdbcType="VARCHAR" />
    <result column="PRODUCT_DESC" property="productDesc" jdbcType="VARCHAR" />
    <result column="CNUMBER" property="cnumber" jdbcType="DECIMAL" />
    <result column="PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="PRODUCT_REQUEST" property="productRequest" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    EXT_CPRODUCT_ID, CONTRACT_PRODUCT_ID, FACTORY_ID, FACTORY_NAME, CTYPE, PRODUCT_NO, 
    PRODUCT_IMAGE, PRODUCT_DESC, CNUMBER, PACKING_UNIT, PRICE, AMOUNT, PRODUCT_REQUEST, 
    ORDER_NO
  </sql>
  
  <!-- 查询某个合同下的货物信息 -->
  <select id="find"   resultMap="BaseResultMap" >
  		 select   
  		 <include refid="Base_Column_List" />
    from EXT_CPRODUCT_C
  where 1=1
  <if test="contractProductId!=null">and CONTRACT_PRODUCT_ID=#{contractProductId}</if>
  
  </select>
  
  <select id="get"  parameterType="string"  resultMap="BaseResultMap">
  		select * from EXT_CPRODUCT_C
  		where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </select>
  
  
  <!-- 删除一条 -->
   <delete id="deleteById" parameterType="java.lang.String" >
    delete from EXT_CPRODUCT_C
   where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </delete>
  <!-- 删除多条 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from EXT_CPRODUCT_C
    where  EXT_CPRODUCT_ID   in 
    
    <foreach collection="array"  item="extCproductId"  open="("  close=")"  separator=",">
    	#{extCproductId,jdbcType=VARCHAR}
    </foreach>  
  </delete>
  
  
    <!-- 级联删除,删除货物下的附件 -->
  <delete id="deleteByContractProduct" parameterType="java.lang.String" >
    delete from EXT_CPRODUCT_C
    where  CONTRACT_PRODUCT_ID   in 
  
   <foreach collection="array"  item="contractProductId"  open="("  close=")"  separator=",">
    	#{contractProductId,jdbcType=VARCHAR}
    </foreach>  
    )
  </delete>
  
  <!-- 删除合同下的附件 -->
    <delete id="deleteByContractId" parameterType="java.lang.String" >
    delete from EXT_CPRODUCT_C
    where  CONTRACT_PRODUCT_ID   in 
    
    (
    	select CONTRACT_PRODUCT_ID from contract_product_c
    	where contract_id in
    	<foreach collection="array"  item="contractProductId"  open="("  close=")"  separator=",">
    	#{contractProductId,jdbcType=VARCHAR}
    </foreach>  
    )
  </delete>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from EXT_CPRODUCT_C
    where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from EXT_CPRODUCT_C
    where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.tf.jk.po.ExtCproductC" >
    insert into EXT_CPRODUCT_C (EXT_CPRODUCT_ID, CONTRACT_PRODUCT_ID, 
      FACTORY_ID, FACTORY_NAME, CTYPE, 
      PRODUCT_NO, PRODUCT_IMAGE, PRODUCT_DESC, 
      CNUMBER, PACKING_UNIT, PRICE, 
      AMOUNT, PRODUCT_REQUEST, ORDER_NO
      )
    values (#{extCproductId,jdbcType=VARCHAR}, #{contractProductId,jdbcType=VARCHAR}, 
      #{factoryId,jdbcType=VARCHAR}, #{factoryName,jdbcType=VARCHAR}, #{ctype,jdbcType=DECIMAL}, 
      #{productNo,jdbcType=VARCHAR}, #{productImage,jdbcType=VARCHAR}, #{productDesc,jdbcType=VARCHAR}, 
      #{cnumber,jdbcType=DECIMAL}, #{packingUnit,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{productRequest,jdbcType=VARCHAR}, #{orderNo,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.tf.jk.po.ExtCproductC" >
    insert into EXT_CPRODUCT_C
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="extCproductId != null" >
        EXT_CPRODUCT_ID,
      </if>
      <if test="contractProductId != null" >
        CONTRACT_PRODUCT_ID,
      </if>
      <if test="factoryId != null" >
        FACTORY_ID,
      </if>
      <if test="factoryName != null" >
        FACTORY_NAME,
      </if>
      <if test="ctype != null" >
        CTYPE,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE,
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC,
      </if>
      <if test="cnumber != null" >
        CNUMBER,
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="productRequest != null" >
        PRODUCT_REQUEST,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="extCproductId != null" >
        #{extCproductId,jdbcType=VARCHAR},
      </if>
      <if test="contractProductId != null" >
        #{contractProductId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=DECIMAL},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=DECIMAL},
      </if>
      <if test="packingUnit != null" >
        #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productRequest != null" >
        #{productRequest,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.tf.jk.po.ExtCproductC" >
    update EXT_CPRODUCT_C
    <set >
      <if test="contractProductId != null" >
        CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null" >
        FACTORY_NAME = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        CTYPE = #{ctype,jdbcType=DECIMAL},
      </if>
      <if test="productNo != null" >
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="cnumber != null" >
        CNUMBER = #{cnumber,jdbcType=DECIMAL},
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productRequest != null" >
        PRODUCT_REQUEST = #{productRequest,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
    </set>
    where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tf.jk.po.ExtCproductC" >
    update EXT_CPRODUCT_C
    set CONTRACT_PRODUCT_ID = #{contractProductId,jdbcType=VARCHAR},
      FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      FACTORY_NAME = #{factoryName,jdbcType=VARCHAR},
      CTYPE = #{ctype,jdbcType=DECIMAL},
      PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      CNUMBER = #{cnumber,jdbcType=DECIMAL},
      PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      PRODUCT_REQUEST = #{productRequest,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL}
    where EXT_CPRODUCT_ID = #{extCproductId,jdbcType=VARCHAR}
  </update>
</mapper>